* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.d-flex-row {
    display: flex;
    flex-wrap: wrap;

}

.child-column {
    width: 25%;
    padding: 10px;
    border: 5px solid rgba(128, 0, 128, 0.749);
}